<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>UCSD Meal Planner</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<script>
        function showImg() {
            document.getElementById('loading').style.display="";
            document.getElementById('resultsDiv').style.display="none";
        }
    </script>
</head>
<body>
	<div class="center">
		<h1 class="title">UCSD MEAL PLANNER</h1>
		<div class="inputArea">
			<form action="/submit/" method="post">

				<h3>Select a dining hall:</h3>
				<div class="dininghalloptions">
					<input type="radio" name="dininghall" value="64 Degrees" class="option"
					{% if selectedHall == "64 Degrees" %} checked {% endif %}>64 Degrees
					<input type="radio" name="dininghall" value="Pines" class="option"
					{% if selectedHall == "Pines" %} checked {% endif %}>Pines
					<input type="radio" name="dininghall" value="Cafe Ventanas" class="option"
					{% if selectedHall == "Cafe Ventanas" %} checked {% endif %}>Cafe V
					<input type="radio" name="dininghall" value="Canyon Vista" class="option"
					{% if selectedHall == "Canyon Vista" %} checked {% endif %}>Canyon Vista
					<input type="radio" name="dininghall" value="Foodworx" class="option"
					{% if selectedHall == "Foodworx" %} checked {% endif %}>Foodworx
					<input type="radio" name="dininghall" value="OceanView Terrace" class="option"
					{% if selectedHall == "OceanView Terrace" %} checked {% endif %}>OVT
					<p class="required">{{ reqDiningHall }}</p>
				</div>

				<div class="calorieSection">
					<h3 class="calorieMessage">Enter # of calories:</h3>
					<input type="text" name="calories" placeholder="Number of calories" class="calorieField" value="{{ prevCalories }}">
				</div>

				<p class="required">{{ errCalories }}</p>

				<div class="center-wrapper">
					<button type="submit" name="submit" class="submitBtn glow-button" onclick="showImg()">Find Food!</button>
				</div>
			</form>
		</div>

		<div class="loading" id="loading" style="{{ loadingState }}"">
			<img src="{% static 'hotdogboi.gif' %}" class="hotdogboi" id="hotdogboi">
			<h2 class="hotdogMsg">Please wait while I find your food.</h2>
		</div>

		<div id="resultsDiv" style="display: ">
			<p class="resultsMsg">{{ resultsMsg }}</p>

			<table id="resultsTable" class="results" style="{{ tableVisiblity }}">
				<tr>
					<th class="menuCol">Menu Item</th>
					<th class="calCol">Calories</th>
				</tr>
				{% for key,value in d.items %}
					<tr>
						<td>{{ key }}</td>
						<td class="calRow">{{ value }}</td>
					</tr>
				{% endfor %}
			</table>
			<p class="noresults">{{ noresults }}</p>
		</div>
	</div>
	<p class="authorsNote">Check out the code on <a href="https://github.com/ryanphle/hdh-calorie-tracker">github.</a></p>
</body>
</html>